.service {
  float: left;
  background: #e1e1e1;
  width: 29.33%;
  margin: 5px;
  padding: 1%;
  height: 140px;
}

.services:after {
  content: "";
  display: block;
  clear: both;
}
.contents {
margin: 20px 1%;
clear: left;
padding: 10%;
}

img {
  width: 100%;
  clear: both;
  margin-top: 14em;
}

section, aside {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  background: #f2f2f2;
}

/* .columns:after{
display: block;
content: "";
} */
